/bin
/packages
/paket-files
**/obj
/.fake
/.paket/paket.exe
/.vs
*.suo
*.user
/.paket/Paket.Restore.targets
/src/.vs/AssimpNet/v15/Server/sqlite3/*.lock
/src/.vs/AssimpNet/v15/Server/sqlite3/*.ide
**/.vs/**
/.paket
**/.DS_Store
