framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget Mono.Cecil ~> 0.10.1

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json
github vrvis/Aardvark.Fake:v4-temp